.eachCartItem {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.closeButton {
    border-radius: 20px;
    padding: 10px;
    padding-right: 15;
    color: 'white'
}

.orderButton {
    border-radius: 20px;
    padding: 10px;
    padding-right: 15;
    color: 'white'
}