.headerComp{
    display: flex;
    color: 'white';
    width: 100%;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    height: 75px;
    align-items: center;
}

.brand {
    color: white;
    font-weight: 900;
    font-size: 22px;
}


.cartDiv{
    display: flex;
    align-self: center;
    padding: 10px;
    border-radius: 50px;
    gap: 10px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.headerText {
    color: white;
    font-weight: 600;
}

.numOfItems {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    color: white;
}

.backImage{
    height: 75px;
    width: 100%;
    object-fit: cover;
}
