.summaryContainer {
    position: relative;
    width: 45%;
    text-align: center;
    align-self: center;
    padding: 10px;
    border-radius: 20px;
    bottom: 20px;
    box-shadow: 1px 1px 10px 1px gray;
}

.summaryHeading {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.summaryPara {
    color: white;
    font-size: 15px;
}